*{
	font-family: 'Roboto Mono', monospace;
	border: 1px solid red;
}

html {
	background: url("./circuit3.jpg") no-repeat center center fixed;
	background-size: 120%;
}

head {
	background: white;
}

main {
	margin-top: 50px;
}


h1 {
	font-size: 18px;
	color: black;
	text-align: center;
	padding:0px 20px;
}

#title {
	text-align:left;
	font-size: 36px;
	color: white;
}

#contents{
	padding-top:20px;
	padding-bottom:20px;
	min-width: 800px;
}

.section {
	background: rgba(173,216,230,0.5);
	padding:20px 50px;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-left: 20%;
	margin-right: 20%;
}

.paragraph{
}

.subtitle {
	font-size: 24px;
}

.subpage {
	background:lightblue;
	color: white;
	font-size:20px;
	padding:10px 20px;
	margin: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
}

.subpage.active {
	background:grey;
}

.subpage:hover{
	background:white;
	color:lightblue;
	border: 2px solid lightblue;
	font-style: bold;
}

.subpage.active:hover{
	background:white;
	color:grey;
	border: 2px solid grey;
	font-style: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
}

.octagon {
	background: url("./dog.jpg") no-repeat;
	background-size: cover;
	margin: 10px 20px;
	height: 200px;
	width: 200px;
	float: left;
  	clip-path: polygon(33.33% 0%, 66.66% 0%, 100% 33.33%, 100% 66.66%, 66.66% 100%, 33.33% 100%, 0 66.66%, 0 33.33%);
}